@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&display=swap');

body {
    margin: 0px;
    color: rgb(0, 0, 0);
    font: normal normal 18px arial, verdana, helvetica, sans-serif;
}

header {
    padding: 90px 0px 90px 0px;
    background-color: #0CADFF;
    padding: 1px;
}

header > p#menutext {
    text-align: center;
    color: white;
    font: normal normal 1.1em arial, helvetica, sans-serif;
    padding: 20px;
    margin: 0px;
}

p {
    margin: 0px;
    padding: 15px;

}

h1 {
    margin: 20px 20px 0px 15px;
    font-family: bebas neue, arial, helvetica, verdana, sans-serif;
    font-size: 3em;
}

a {
    color: #065780;
    text-decoration: none;
}

a:hover {
    color: #0CADFF;
    text-decoration: underline;
}

video {
    margin: 20px;
    height: 300px;
    width: 600; 
}

header > a#logo {
    color: white;
    font-size: 60px;
    text-decoration: none;
    
}

h2 {
    font: normal normal 2em bebas neue, arial, helvetica, sans-serif;
    margin: 7px 10px 5px 15px;
}

header > a#logo2 {
    color: white;
    font-size: 50px;
    text-decoration: none;
    margin: 10px;
}

header > a#logo2:hover {
    color: rgb(0, 123, 145);
}

header > a#logo:hover {
    color: rgb(0, 123, 145);
}

picture {
    margin: 15px;
}
